.header{
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 100%;
  padding: 20px 90px;
  background: black;
  display: flex;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 32px;
  color:aliceblue;
  text-decoration:none;
  font-weight: 700;
  margin-right: 70rem;
  cursor: pointer;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color:aliceblue;
  text-decoration:none;
  margin-left: 40px;
  font-weight: 500;
  cursor: pointer;
}
.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background: aliceblue;
  transition: 1s;
}
.navbar a:hover:before {
  width: 100%;
}
